
.wrapper
  %article
    %h1 Overview
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %ul
        %li
          = link_to 'Time Value of Money', main_app.page_path('investment_education/time-value-of-money')
        %li
          = link_to 'Risk Management', main_app.page_path('investment_education/risk-management')
        %li
          = link_to 'Cash Equivalents', main_app.page_path('investment_education/cash-equivalents')
        %li
          = link_to 'Insurance Products', main_app.page_path('investment_education/insurance-products')
        %li
          = link_to 'Real Estate', main_app.page_path('investment_education/real-estate-investment')
        %li
          = link_to 'Foreign Exchange', main_app.page_path('investment_education/foreign-exchange')
        %li
          = link_to 'Forwards', main_app.page_path('investment_education/forwards')
        %li
          = link_to 'Futures', main_app.page_path('investment_education/futures')
        %li
          = link_to 'Options', main_app.page_path('investment_education/options')
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Stockholders usually receive a part of the company’s income as dividend, although some companies may not pay dividends regularly.
        %li Total return on stocks is the sum of capital gains and dividends received.
        %li Common stock and preferred stock are the two types of stock.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Stocks -Wikipedia", "http://en.wikipedia.org/wiki/Stock", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Introduction to Stocks", "http://www.youtube.com/watch?v=r0k3qmaIW5k", html_options = {:target => "_blank"}
        %li=link_to "What it means to buy a company's stock", "http://www.youtube.com/watch?v=WvITkPn83gc&feature=player_embedded", html_options = {:target => "_blank"}
        %li=link_to "Bonds vs. Stocks", "http://www.youtube.com/watch?v=rs1md3e4aYU", html_options = {:target => "_blank"}

