.wrapper
  %article
    %h1 Diversification
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 What is Diversification:
      %p
        Diversification is the process of reducing the overall risk of the portfolio by investing in several
        securities, usually across different asset classes, instead of investing in a single security. For example,
        an investor may choose to buy a small number of shares of 10 different companies rather than buy a large number
        of shares of a single company.  In the latter case, the investor’s returns depend entirely on the performance of
        one single company, thereby making the portfolio extremely risky.
      %p Losses from one security are usually offset by gains in other securities and vice versa. Therefore, the portfolio returns are subject to smaller swings, and the resulting curve is smoother.
      %p Investors typically spread their investment portfolios across different asset classes( e.g. stocks, #{link_to 'Bonds', page_path('investment_education/bonds')}, #{link_to 'Commodities', page_path('investment_education/commodities')} etc) in order to minimize risk as the correlation between different asset classes is less than 1.
    %section
      %h1 Benefits of Diversification:
      =image_tag "investment_education/diver1.png", :width => "255px", :height => "193px"
      %p
        The main benefit of investment_education/diversification is the reduction of risk (volatility of returns). As we discussed in this
        #{link_to 'Risk and Return', page_path('investment_education/risk_and_return')}
        risk is the volatility of returns. Naturally, fund managers would like to have the highest possible return with the lowest possible risk
    %section
      %h1 Example on the benefits of Diversification:
      %p
        Suppose there exist two companies, IcecreamLand and BlanketWorld which manufacture
        and sell ice-creams and blankets respectively. During summer, IcecreamLand has high
        sales and makes a profit of Rs. 1 per share each day while BlanketWorld has low sales
        and no profits. During winter, BlanketWorld has high sales and makes a profit of
        Rs. 1 per share each day while IcecreamLand has very low sales and no profit. Also
        suppose that the shares of both these companies trade at Rs. 1000 per share and that
        the companies pay out 100% of their profits as dividends.
      =image_tag "investment_education/diver2.png", :width => "290px", :height => "224px"
      %p
        An investor with Rs. 2000 to invest could choose to invest in IcecreamLand and/or BlanketWorld.
        Suppose Raj invests Rs. 2000 and buys 2 shares of IcecreamLand, Anjali
        invests Rs. 2000 and buys 2 shares of BlanketWorld and Rohit too invests Rs. 2000
        and buys 1 share of IcecreamLand and 1 share of BlanketWorld.
      %p Their returns would be as follows:
      %p
        Raj will receive Rs. 2 of profit per day from his 2 shares of IcecreamLand
        during summer and nothing in winter. Assuming there are 180
        days of summer and 180 days of winter, he will therefore receive (Rs. 2/day X 180 summer
        days) + (Rs. 0/day X 180 winter days) = Rs. 360 in total from his investment at the end
        of the year. Anjali will receive Rs. 2 of profit per day from his 2 shares
        of BlanketWorld during winter days and nothing during summer days. Thus at the end
        of the year, he can expect a total return of (Rs. 0/day X 180 summer days) + (Rs. 2/day
        X 180 winter days) = Rs. 360. Rohit on the other hand, will receive Rs. 180 from one
        share of IcecreamLand during summer and Rs. 180 from one share of BlanketWorld during
        winter, giving a total yearly return of Rs. 360.
      %p Their individual expected semi-annual (half-yearly) return will be Rs.360 ÷ 2 = Rs. 180.
      %p The semi-annual variance of their returns will be as follows:
      %p Raj: (180/360) x (Rs. 360 - Rs. 180)2 + (180/360) x (Rs. 0 - Rs. 180)2 = 32400
      %p Anjali: (180/360) x (Rs. 0 - Rs. 180)2 + (180/ 360) x (Rs. 360 - Rs. 180)2 = 32400
      %p Rohit: (180/360) x (Rs. 180 - Rs. 180) 2 + (180/360) x (180 - 180)2 = 0
      %p Their respective returns and income variances can be summarized in the following table:
      %h1 Profit for Every Two Shares
      %table{:border => "1px"}
        %tr
          %th
            Item
          %th
            Summer
          %th
            Winter
          %th
            Two Yearly Returns
          %th
            Variance of Return
        %tr
          %td
            Raj
          %td
            Rs. 360
          %td
            Rs. 0
          %td
            Rs. 360
          %td
            Rs. 180
        %tr
          %td
            Anjali
          %td
            Rs. 0
          %td
            Rs. 360
          %td
            Rs. 360
          %td
            180
        %tr
          %td
            Rohit
          %td
            Rs. 180
          %td
            Rs. 180
          %td
            Rs. 360
          %td
            0
      %p
        Note that all three investors earn the same return i.e. Rs. 360 over the entire year,
        an impressive 18% p.a. However, the important point to note here is that the variance
        in the total income is different for different investors. Raj and Anjali experience huge volatility in their incomes, a semi-annual standard deviation
        of Rs. 180 as opposed to Rohit whose semi-annual standard deviation is 0. All three
        investors got the same return (18%p.a) but Rohit’s portfolio was far less volatile
        and thus far less risky.
      %p
        =image_tag "investment_education/diver3.png", :width => "255px", :height => "193px"
        This is important since Rohit’s portfolio gave him far more regular and dependable
        returns than those of Raj and Anjali. Thus, Rohit’s diversified portfolio outperformed
        the other two portfolios as it achieved the same return as the other two portfolios
        despite being much less risky. Note that the return on a share of IcecreamLand has
        a negative correlation with the return on a share of BlanketWorld. As seen from
        Rohit’s portfolio, a zero return in summer on a BlanketWorld share can be offset
        by a positive return on an IcecreamLand share. Thus, his portfolio can be considered
        well-diversified because that he is able to capture returns in both situations of
        summer and winter, at the same time, reduce his loss exposure in any one situation.
      %p
        The lesson to be taken away from here is that investment_education/diversification reduces the overall
        risk of the portfolio. The larger the number of securities, the lower the variance
        and thus, the lower the risk of the portfolio (assuming a correlation of less than 1
        between the stocks). In fact, investors have found that a portfolio of 30 stocks
        provides the best kind of #{link_to 'Diversification', page_path('investment_education/diversification')}, keeping in mind cost-effectiveness.
    %section
      %h1 The importance of correlation:
      %p
        Correlation is a statistical measure that characterizes the linear relationship
        between two variables. The correlation coefficient measures the strength and nature
        of that relationship. From a qualitative perspective, the returns of two stocks
        are positively correlated if the return of one stock increases as the other increases;
        and are negatively correlated if one increases as the other decreases.
    %section
      %h1 Illustration:
      =image_tag "investment_education/diver6.png", :width => "250px", :height => "150px"
      %ul
        %li Series A: 1, 3, 4, 5, 6, 8
        %li Series B: 3, 4, 6, 8, 6, 9
        %li Series C: -5, -3, -1, -7, -12, -14
        %p
          Series A and Series B are highly correlated (correlation coefficient of 0.9)
          while Series A and Series C are negatively correlated (correlation coefficient of -0.7). 
          We will cover the quantitative aspects of correlation in a different article.
          For now it will suffice to understand that the overall volatility (risk) of the portfolio
          decreases as the correlation between the different in the portfolio decreases.
    %section
      %h1 Diversifiable and Non-Diversifiable Risk:
      =image_tag "investment_education/diver5.png", :width => "250px", :height => "150px"
      %p
        Every security is exposed to systematic and unsystematic risks.
        As mentioned in the article on risk, a systematic risk will affect every security
        in a particular economy. Thus, so long as one is investing within this market, the
        systematic risk cannot be diversified away, unless of course, one invests in many
        different markets. How much a systematic risk will affect one security, as compared
        to another, is quantified using a coefficient known as beta. Beta measures the correlation
        between the movement of a stock price and the market index. The market index is
        simply a benchmark that indicates the average price level of all the stocks in that
        market.
      %p
        Unsystematic risks are risks that can be diversified away. For example, an unsystematic
        risk characteristic to the airlines industry will be pilots going on a strike. This
        risk is unsystematic because a pilots’ strike has little or no impact on a company
        that manufactures food. Thus, it is possible to diversify unsystematic risk in a
        portfolio of securities.
      %p
        For example, an investor may choose to buy some stocks of the food manufacturing
        company, and some stocks of the airline company, if he wants to be exposed to the
        growth potential of the airline company, and yet wants to limit his exposure to
        the negative impact caused by sudden labour strikes in the airlines sector.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.diversification'), page_path('investment_education/diversification')
      .article_next
        Next:
        =link_to t('investment_education.investment_trading'),page_path('investment_education/investment_trading')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Diversification is the process of reducing the overall risk of the portfolio by investing in several securities, across different industries, instead of investing in a single security.
        %li Losses from one security are usually offset by gains in other securities by Diversification.
    .articles
      %h1 Articles
      %ul
        %li=link_to "How to Diversify Your Investments", "http://www.schwab.com/public/schwab/research_strategies/market_insight/investing_strategies/portfolio_planning/the_portfolio_pyramid_how_to_diversify_your_investments.html", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Introduction to Diversification","http://www.youtube.com/watch?v=pxqvzvPw2JM", html_options = {:target => "_blank"}
        %li=link_to "Does Diversification work?","http://www.youtube.com/watch?v=H-_K5ssUcys", html_options = {:target => "_blank"}
        %li=link_to "Portfolio Diversification -Yale University lecture.","http://www.youtube.com/watch?v=efPKwxZuLKY", html_options = {:target => "_blank"}
