.wrapper
  %article
    %h1 Investment Planning
    %section
      = render :partial => 'layouts/facebook_recommend'
    %section
      %p “Expect the best, plan for the worst, and prepare to be surprised.”- Denis Waitley
      %h1 Why is investment planning important?
      %p
        Planning not only brings in an element of discipline into the investing process but also helps you better understand your investment objectives, needs, constraints and risk tolerance. In essence, it helps you build and manage an investment portfolio that is suited to you. Good planning can also help you reduce your portfolio risk and improve returns.
      %p
        %b
          Steps to create an investment plan
    %section
      %h1 Step 1: Always plan on paper
      %p
        It helps to have a written plan as opposed to a vague mental note. Not only does this bring clarity but it also becomes useful when you want to refer to your plan in future.
    %section
      %h1 Step 2: Outline your investment objectives
      %p
        You should outline your long term investment objectives in detail. What do you want to achieve through investing? Do you want to be able to pay for your MBA? Do you want to
        save for a dream vacation? Are you saving for your daughter’s education? Or are you simply investing to become a crorepati? All of these are legitimate investment objectives.
        Whatever your objective is, write it down on paper and be honest with yourself.
      %p
        The next step after answering the previous question is to answer the following questions: What sort of returns would you like over the long run? Can you bear the risk you need to take to generate those returns? 
      %p
        %b
          Objectives are broadly classified into the following heads:
      %ol
        %li
          %b
            Capital Preservation:
          The investor’s aim is to maintain the purchasing power of his capital, given an expected inflation rate. 
          This is usually the aim of investors with a low risk appetite such as retirees. (Tip: Good instruments for capital preservation are fixed deposits, gold and bonds).
          E.g. –“Rakesh Sethi wants to enjoy a relaxed post retirement lifestyle while maintaining the purchasing power of his provident fund payout.”
        %li
          %b
            Capital appreciation:
          The investor’s aim is to grow his money. This is a common objective among investors with a moderate to high risk appetite. (Tip: Good investments for this objective are stocks and gold).  
          E.g. “Seema Pingali wants to buy a house in Delhi costing Rs 2.5 crores in 2018. She plans to achieve this by saving every month and investing these savings.”
        %li
          %b
            Regular Income:
          The investor seeks regular income payouts from them investments. (Tip: This income usually comes from interest and dividends. So, fixed deposits, bonds and high dividend yielding stocks are good investments to achieve this objective.) 
          E.g. “Ravi Sharma wants to pay his daughter’s school fees every year for the next 5 years using the returns from his portfolio of investments so that he can focus on saving for his daughter’s higher education and marriage.”
    %section
      %h1 Step 3: Understand and document your risk tolerance
      %p
        Some investors are in a better position to take risks or are more willing to take risks than others. The distinction between the two is important since a willingness to take risk does not necessarily mean an ability to do so. Risk profiles are influenced primarily by age, financial situations and intrinsic natures. For example, young investors with decades of working life left are generally in a better position to make risky investments than older investors who are scheduled to retire in a short while. 
        A young, unmarried IT professional is in a better position to make a risky investment than a single mother who has to provide for her daughter’s education and upkeep.
      %p
        Figure out what level of risk you are comfortable with.
        Understand your own risk profile before making investments. This is very important as it will prevent a mismatch between your ability to take on risk and your desire to do so. Whatever be the risk tolerance of investors, 
        it should be documented and taken into account while making investing decisions.
      %p
        #{link_to 'Our risk profiling tool', main_app.edit_comprehensive_risk_profiler_path}
        can help you determine the risk level and investment mix that is right for you.
    %section
      %h1 Step 4: Outline your needs and constraints
      %p
        Before you start investing, you must first understand your needs and constraints. Investors have different needs. These needs stem from their goals, unique
        constraints, risk profiles, tax environment and their individual natures. Future needs often depend on the age, present financial position and on the aspirations of that particular individual.
        For example, a young professional is likely to want to grow his portfolio to meet a specific goal later on, such as an MBA degree, the purchase of a home, marriage etc.
        A wealthy retiree on the other hand, is more likely to be interested in maintaining his standard of living than in aggressively growing his wealth.
      %p
        It is important to understand the purpose for which you are saving and the constraints that you have.
        This would influence the level of risk that you are willing to take and the best suited investments for you.
      %p
        %b
          Investment horizon:
        One important concept in needs analysis will be the selection of an investment horizon. An investment horizon is the span of time which an investor plans to hold the investment security.
        At the end of an investment horizon, the investor will expect to cash out on the investment.
      %p
        %b
          Short-Term Horizon:
        An investment horizon of a few days to 6 months is considered a short term horizon.
        Investors with short time horizons can consider holding cash in a high interest savings account or 
        #{link_to 'fixed deposits',main_app.page_path('investment_education/investment-fixed-deposits')}.
      %p
        %b
          Medium-Term Horizon:
        The typical time horizon for such an investment is about 6 months  year to 2 years. A typical investment portfolio appropriate for a medium term horizon is a mix of
        #{link_to 'stocks', main_app.page_path('investment_education/shares')},
        #{link_to ' mutual funds', main_app.page_path('investment_education/mutual-funds-etf')}
        and some bonds.
      %p
        %b
          Long-Term Horizon:
        Traditionally, time horizons of 5 years and above were considered long horizons.  But in this day and age, the typical time horizon for a long-term investment will is 2 years and above.  Investors with long horizons can consider investing a large portion of their portfolios in stocks.
        Such individuals must have sufficient risk appetite as a stock focused investment portfolio may see extended periods of low returns or even negative returns.
      %p
        As an individual reaches retirement age, his investment time horizon will become shorter and in this case, it will be advisable to increase investments in fixed income securities such as fixed deposits and bonds while keeping a small portion of one’s total investments in stocks.
        Even so, it is recommended that the investor invests in stable stocks (meaning that stock price movements are less volatile) with a stable dividend income.
    %section
      %h1 Step 5: Understand your tax implications
      %p
        Tax management can significantly enhance investment returns.
        This is especially important for investors with high marginal tax rates (the tax rate on every additional rupee of income earned i.e. your maximum tax rate).
      %p
        You should seriously consider investing in instruments that give you tax benefits. E.g. ELSS and Fixed Deposits that are covered under Section 80C, infrastructure bonds covered under 80ccf, etc. Also, long term capital gains tax is lower than the marginal tax rate of most people.
        Therefore, stocks held over a long period are more tax efficient than most bonds/fixed deposits.
    %section
      %h1 Step 6: Work on Asset Allocation
      %p
        #{link_to 'Asset allocation', main_app.page_path('investment_education/where-to-invest')}
        is the process by which the investor decides how much is to be invested in each asset class i.e. stocks, fixed deposits, gold etc. Your ideal asset allocation also known as ideal investment mix is determined by your financial risk profile, needs and constraints.Our
        #{link_to 'asset allocation tool', main_app.edit_comprehensive_risk_profiler_path}
        can help you calculate at your ideal asset allocation.
      %p
        Once you know your ideal asset allocation/investment mix, you should try to stick to this asset mix unless there is a drastic change in your financial situation or market conditions.
        Do not waver from your ideal asset allocation simply because the markets have hit a rough patch.
    %section
      %h1 Step 7: Plan your response to unexpected changes in market conditions
      %p
        Investment returns can be volatile, especially over the short/medium run. Try to plan your response to changing market conditions ahead of time. At what price will you exit your investment positions? What time horizon do you have in mind for each investment? How much of a decline in the value of your investment can you bear before you sell? All these are questions that you should ask yourself before making an investment.
        Investors who stick to the fundamental rules such as these tend do well in the long run. Remember, investing involves planning and patience. Remember, the rewards of patience are always sweet.
      %p
        %b
          Summary of an example plan:
      %ol
        %li
          Rohit is a 24 year old Computer Engineer residing in Mumbai with an annual income of Rs 10,00,000.
          He seeks long term capital appreciation from his portfolio worth Rs 500,000. His willingness to take on investment risk is high.
        %li
          Rohit needs Rs 2,00,000 in January 2014 to pay for his tuition fees for a graduate program in Business Management that he plans to attend at a top college in India.
          He also needs Rs 2,00,000 to go on a tour of South America in January 2013.
        %li
          Rohit’s marginal tax rate is approximately 20%.
          Therefore, investments worth Rs 1,00,00 are to be made in Section 80c compliant instruments and Rs 20,000 in Section 80ccf compliant instruments to reduce his tax burden.
        %li
          His investments should appreciate at a minimum 5-year average rate of 15% p.a. subject to a maximum decline of 20% between any 2 consecutive years and 10% in any given 5-year period.
        %li
          Not more than 90% and not less than 50% of the portfolio may be allocated to stocks at any given point of time with the
          sole exception of the times when the Sensex falls by more than 20% in the preceding three months.
      %p
        This was a summary of a sample financial plan, not the full plan.

    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.Investingi_vs_Trading'), main_app.page_path('investment_education/investing-trading-shares')
      .article_next
        Next:
        =link_to t('investment_education.Where_to_Invest'), main_app.page_path('investment_education/where-to-invest')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Investment planning is the most important step in the investment planning process.
        %li Outline your investment objectives.
        %li Understand and document your risk tolerance.
        %li Outline your needs and constraints.
        %li Understand your tax implications.
        %li Work on Asset Allocation.
        %li Plan your response to unexpected changes in market conditions.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Tips for investment planning", "http://www.rediff.com/money/2009/mar/30perfin-tips-for-investment-planning.htm", html_options = {:target => "_blank"}
        %li=link_to "Systematic Investment Plan(SIP)", "http://www.onemint.com/2010/03/24/systematic-investment-plan/", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "SIP", "http://www.youtube.com/watch?v=uZnXinkypd8", html_options = {:target => "_blank"}
        %li=link_to "The Investment Process", "http://www.youtube.com/watch?v=YKDTVHFkOsQ&feature=results_video&playnext=1&list=PLAD3E896E2B44E903", html_options = {:target => "_blank"}
