.wrapper
  %article
    %h1 Investment Plan
    = render :partial => 'layouts/facebook_recommend'
    %section
      %h1 A Written Investment Plan:
      %p “Expect the best, plan for the worst, and prepare to be surprised.”- Denis Waitley
    %section
      %h1 Why is investment planning important?
      %p
        Planning is an essential part of investing. Planning not only brings in an element of discipline into the investing process
        but also helps investors better understand their own objectives, needs, constraints and risk tolerance.
      %p
        Most High Net worth Individuals (HNIs) have written documents called Investment Policy Statements (IPS) outlining their investment objectives,
        risk tolerance and the methods that their portfolio managers should use to achieve those objectives. Strategic Asset Allocation, tax constraints
        and liquidity constraints are clearly mentioned in an IPS.
      %p Prudent individual investors would do well to create such written documents for themselves.  The key steps in creating an investment plan are as follows:
      %h1 Always plan on paper
      %p
        It helps to have a written plan as opposed to a vague mental note. Not only does this bring clarity but it also becomes
        useful when you want to refer to your plan in future.
      %h1 Outline your investment objectives
      %p Investors should outline your long term investment objectives in detail. What sort of returns would you like over the long run? Can you bear the requisite risk? Common long term objectives are:
      %ol 
        %li 
          Capital Preservation:
          The investor’s aim is to maintain the purchasing power of his capital, given an inflation rate and to not lose money. Risky investments are not usually
          preferred in this case. This is usually the aim of investors with a low risk appetite such as retirees. Good instruments for capital preservation are Treasury #{link_to 'Bonds', page_path('investment_education/bonds')}, Inflation
          linked securities such as TIPS, money market instruments and high quality corporate #{link_to 'Bonds', page_path('investment_education/bonds')}.
        %li
          Capital appreciation:
          aim to grow their money. This is usually achieved though increases in the value of their investments. Several investors aim to achieve capital
          appreciation over long time horizons. This is a common objective among investors with moderate to high risk appetite.
        %li
          Regular Income:
          Quite a few investors seek regular income payouts from them investments. This income usually comes from interest (bond coupons etc) and dividends. Of course, it is possible for investors to create their own dividend by selling part of their holdings that have appreciated in value.
      %h1 Understand and document your risk tolerance
      %p
        It is critical for investors to understand both their capacity to take risk and their willingness to take risk. It is important to understand the distinction between the two.
        Investors can invest in risky assets as part of a diversified portfolio if they are both willing and able to accept risk.
        The ability to take on risk depends on several factors such as net worth, age, liquidity requirements, long term goals and mental make-up of the investor.
        More information on assessing the risk tolerance of investors can be found here
        Whatever be the risk tolerance of investors, it should be documented and taken into account while making investing decisions.
      %h1 Outline your needs and constraints
      %p
        Investors often have special needs and constraints. Example: An investor could need Rs.100,000 in 5 years’ time to attend business school, or Rs.10,000 for a vacation in 1 year’s time.
        Investors should document them and take them into account while making investment decisions. Preferences with respect to asset classes/securities are considerations that should be
        taken into account while planning.
      %h1 Understand your tax implications
      %p
        Tax management can significantly enhance investment returns. This is especially important for investors with high marginal tax rates (the tax rate on every additional dollar of
        income earned). Investing in tax exempt accounts or tax deferred accounts such as retirement accounts could be considered. Deferring the realization of capital gains, investing in
        tax-exempt securities such as certain government bonds, municipal bonds etc are other strategies that can be considered. When comparing two similar investments, decisions should be
        made based on after-tax returns and not pre-tax returns. Learn more about tax planning here
      %h1 Work on Asset Allocation
      %p
        Asset allocation is the process by which the investor decides how much is to be invested in each asset class. Asset allocation depends
        heavily on the investor’s objectives, risk profile and individual preferences. Equities and real estate instruments are risky but offer high returns. Most fixed income securities
        barring junk #{link_to 'Bonds', page_path('investment_education/bonds')} tend to yield low but stable returns. Government #{link_to 'Bonds', page_path('investment_education/bonds')} yield the least but are the safest investments.
        It is wise to diversify across asset classes and across different securities within an asset class. This reduces the volatility of returns to some extent. Also try to choose assets which are not well
        correlated with each other. For example, Oil and Gold are not well correlated. Therefore, an Oil ETF may make a good addition to a portfolio heavily weighted with a Gold ETF.
        It is impractical to expect large returns despite investing in low risk-assets. For a rough idea of the kind of returns that can be expected in the long from different asset classes,
        refer to the following table. Needless to say, these are just rough estimates of long term expected returns.
      %table{:border => "1px"}
        %tr
          %th
            Assets
          %th
            Expected long term returns
        %tr
          %td Diversified portfolio of large cap equities in Developed economies
          %td 10-12% p.a.
        %tr
          %td
            Diversified portfolio of large cap equities in Emerging economies
            Diversified portfolio of small  cap equities in Developed economies
          %td 12-16% p.a.
        %tr
          %td Gold
          %td 8-10% p.a.
        %tr
          %td High quality corporate bonds(Depends on prevailing rates)
          %td 3-5% p.a.
        %tr
          %td Money Market instruments(Depends on prevailing rates)
          %td 1-4% p.a.
        %tr
          %td Treasury Securities(Depends on prevailing rates)
          %td 1-5% p.a.
      %h1 Plan your response to unexpected changes in market conditions
      %p
        Investment returns can be volatile, especially over the short-medium run. Try to plan your response to changing market conditions ahead of time.
        At what price will you exit your investment positions? What time horizon do you have in mind for each investment? How much of a decline in the value of your
        investment can you bear before you sell? All these are questions that you should ask yourself before making an investment.
        Investors who stick to the fundamental rules such as these tend do well in the long run. Remember, investing involves planning and patience.
    %section
      %h1 Summary of an example plan:
      %ul
        %li Rohit is a 24 year old Computer Engineer residing in Mumbai with an annual income of Rs 10,00,000. He enjoys adventure sports and traveling around the world. He seeks long term capital appreciation from his portfolio worth Rs 500,000. His willingness to take on risk is high.
        %li Rohit needs Rs 200,000 in January 2014 to pay for his tuition fees for a graduate program in Business Management that he plans to attend at a top college in India. He also needs Rs 200,000 to go on a tour of South America in January 2012.
        %li Rohit is taxed at approx 20% by the Indian Government. In order not to exacerbate his tax burden, all debt instruments in his portfolio should be Government- State or Municipal debt unless the after tax yield of the alternate debt instrument is greater than the yield of the equivalent tax-free debt instrument.
        %li His investments should appreciate at a minimum 5-year average rate of 15% p.a. subject to a maximum decline of 20% between any 2 consecutive years and 10% in any given 5-year period.
        %li Not more than 90% and not less than 50% of the portfolio may be allocated to equities at any given point of time with the sole exception of the times when the Sensex falls by more than 20% in the preceding three months.
        %li Rohit is strongly against the use of tobacco and thus, none of his portfolio companies may be directly involved in the production, processing or distribution of tobacco/tobacco products.
    %footer
      .article_prev
        Prev:
        =link_to t('investment_education.analyzing_your_needs'), page_path('investment_education/analyzing_needs')
      .article_next
        Next:
        =link_to t('investment_education.asset_allocation'), page_path('investment_education/asset_allocation')
      #disqus_thread
  .extracontent
    .takeaway
      %h1 Take Away
      %ul
        %li Security Selection involves choosing which securities e.g. stocks, bonds, etc to invest in and how much to invest in each security.
        %li Depending on how much risk is being taken, selection strategies can be commonly divided into aggressive, balanced and defensive.
        %li Fundamental Analysis and Technical Analysis are some of the approaches used to value securities.
    .articles
      %h1 Articles
      %ul
        %li=link_to "Stock Selection techniques – Using Stock Screeners", "http://finaticsonline.com/blog/2011/01/stock-selection-techniques-%E2%80%93-using-stock-screening-models/", html_options = {:target => "_blank"}
        %li=link_to "Stock selection criteria",  "http://en.wikipedia.org/wiki/Stock_selection_criterion", html_options = {:target => "_blank"}
    .videos
      %h1 Videos
      %ul
        %li=link_to "Choosing Good Investments", "http://video.cnbc.com/gallery/?video=781699708", html_options = {:target => "_blank"}
